# Network Configuration
VITE_NETWORK=preview
VITE_CONTRACT_ADDRESS=02007f34a19b88219c6e5896a7985392d4715f212984578e9079fdfd7515a4e5
VITE_INDEXER_URL=https://indexer.preview.midnight.network

# IPFS Configuration
VITE_IPFS_GATEWAY=https://ipfs.io/ipfs/
VITE_IPFS_API_URL=https://api.pinata.cloud/pinning/pinFileToIPFS